*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    overflow-x: hidden;
    padding: 20px;
    min-height: 100vh;
}
@keyframes scroll {
0% { transform: translateX(100%); }
100% { transform: translateX(-100%); }
}
@font-face {
font-family: game_over;
src: url(/html/Game-Over-Regular/game_over.ttf);

}

.header {
    font-size: 2em;
    color: #0f0;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 5s linear infinite;
}

.w50{
    width: 50%;
    float: left;
    padding: 10px;
}
img {
    width: 50%; 
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);}
    
.w51{
    width: 50%;
    float: right;
    padding: 10px;
}
.box{
    width: 30%; 
    height: 65%; 
    background-color: #333;
    color: #0f0;
    border-radius: 10px;
    margin-left: 45%;
    display: flex;
    
}
.form-box{
    text-align: center;
    padding: 25px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}
.form-box h2{
    font-size: 20px;
}
.form-box p{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: #ffff;
}
.form-box p a{
    color: #ffff;
}
.form-box form{
    margin: 5px 5px;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    margin-top: -4px;
    color: #0f0;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    
}
form .input-group input{
    width: 90%;
    height: 37px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 13px;
    color: #616161;
    margin-bottom: -16px;
  
}
form .input-group input:focus{
    border-color: #ffffff69;
}
form .input-group button{
    width: 40%;
    height: 25px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 13px;
    color: #000000;
    cursor: pointer;
    font-size: 15px;
}
.input-group button a{
    text-decoration: none;
    color: #000;
}