body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    overflow-x: hidden;
}
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
@font-face {
    font-family: game_over;
    src: url(/html/Game-Over-Regular/game_over.ttf);
    
 }
 .header {
    font-size: 3em;
    color: #0f0;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 5s linear infinite;
  }
  
.logo{
    font-size: 14em;
    text-align: left;
    color: #fff;
    position: absolute;
    margin-top: 5%;
    left: 10%;
    font-family:'game over regular';
    text-decoration:none;
   
   
}
.w50{
  width: 50%;
  float: left;
  padding: 15px;
}
.form-box{
    width: 25%; 
    height: 40%; 
    background-color: #333;
    color: #0f0;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
   
}

.form-box h2{
  font-size: 30px;
}
.form-box p{
  font-weight: bold;
  color: #3D3D3D;
}
.form-box p a{
  color: #FF008A;
  text-decoration: none;
}
.form-box form{
  margin: 20px 0;
}
form .input-group{
  margin-bottom: 15px;
}
form .input-group label{
  color: #3D3D3D;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
form .input-group input{
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #616161;
  transition: all 0.4s ease;
  
  .form h2, .form p {
    text-align: center;
   
  }
  
  .form input, .form button {
    display: block;
    width: 50%; 
    margin: 50%; 
    margin-bottom: 10px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
